In [ ]:
#!/usr/bin/env python
# coding: utf-8

In[50]:

In [1]:
import numpy as np
import pandas as pd

In[51]:

In [2]:
excelFile = pd.read_excel('treino.xlsx')
excelFile.to_csv ("treino.csv", index = None, header=True)
excelFile = pd.read_excel('teste.xlsx')
excelFile.to_csv ("teste.csv", index = None, header=True)

In[82]:

In [3]:
df_train = pd.read_csv('treino.csv')
df_test = pd.read_csv('teste.csv')

In[53]:

In [4]:
df_train.head()

                                              Nome EMBALAGEM
0               C. LEITE ITALAC 1KG Creme de Leite     Caixa
1            C. LEITE NILZA TP 200G Creme de Leite     Caixa
2  C. LEITE TALAC ZERO LACTOSE 200G Creme de Leite     Caixa
3        CR DE LEITE ITALAC 200G TP Creme de Leite     Caixa
4        CR DE LEITE ITALAC 200G TP Creme de Leite     Caixa

In[54]:

In [5]:
df_test.head()

                                                Nome  EMBALAGEM
0  IOG CORPUS LIGHT CEREAIS FRUTAS     480G Iogurtes        NaN
1            IOG CORPUS PEDACO ABACAXI 200G Iogurtes        NaN
2         IOG DANONE LIQ 170G VIT DE FRUTAS Iogurtes        NaN
3          LTE FERM ACT LIQ JABUTICABA 170G Iogurtes        NaN
4           LTE FERM ACT S LAC MOR/BAN 850G Iogurtes        NaN

In[55]:

In [6]:
df_train.isnull().sum().sort_values(ascending=False)

Nome         0
EMBALAGEM    0
dtype: int64

In[56]:

In [7]:
df_test.isnull().sum().sort_values(ascending=False)

EMBALAGEM    1008
Nome            0
dtype: int64

In[57]:

In [8]:
#df_test.dropna(inplace=True)

In[58]:

In [9]:
df_test.head()

                                                Nome  EMBALAGEM
0  IOG CORPUS LIGHT CEREAIS FRUTAS     480G Iogurtes        NaN
1            IOG CORPUS PEDACO ABACAXI 200G Iogurtes        NaN
2         IOG DANONE LIQ 170G VIT DE FRUTAS Iogurtes        NaN
3          LTE FERM ACT LIQ JABUTICABA 170G Iogurtes        NaN
4           LTE FERM ACT S LAC MOR/BAN 850G Iogurtes        NaN

In[59]:

In [10]:
df_train['EMBALAGEM'].value_counts()

Caixa        462
Garrafa      374
SACHET       256
Bandeja      211
Copo         185
POTE         114
caixa         67
TETRA PAK     58
Pote          53
BISNAGA       39
LATA          21
Lata          20
lata          12
copo           3
Pouch          3
garrafa        2
Balde          2
BALDE          2
Stick          1
Name: EMBALAGEM, dtype: int64

In[83]:

 from sklearn.model_selection import train_test_split<br>
 X_train, X_test, y_train, y_test = train_test_split(df['Nome SKU'], df['SABOR'], random_state=50)

In [11]:
X_train = df_train['Nome']
y_train = df_train['EMBALAGEM']
X_test = df_test['Nome']
y_test = df_test['EMBALAGEM']

In[84]:

In [12]:
print(X_test)

0       IOG CORPUS LIGHT CEREAIS FRUTAS     480G Iogurtes
1                 IOG CORPUS PEDACO ABACAXI 200G Iogurtes
2              IOG DANONE LIQ 170G VIT DE FRUTAS Iogurtes
3               LTE FERM ACT LIQ JABUTICABA 170G Iogurtes
4                LTE FERM ACT S LAC MOR/BAN 850G Iogurtes
                              ...
1003             ISIS BEBIDA LACTEA MORANGO 120G Iogurtes
1004     ISIS BEBIDA LACTEA SALADA DE FRUTAS 1KG Iogurtes
1005         ISIS IOG GARRAFA BANANA E MACA 900G Iogurtes
1006               ISIS IOG GARRAFA MORANGO 900G Iogurtes
1007                        MORANGO BANDEJA 250G Iogurtes
Name: Nome, Length: 1008, dtype: object

In[85]:

In [13]:
print(y_train)

0       Caixa
1       Caixa
2       Caixa
3       Caixa
4       Caixa
        ...
1880     Copo
1881     Pote
1882     Copo
1883     Pote
1884     Pote
Name: EMBALAGEM, Length: 1885, dtype: object

In[86]:

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
vect_train = CountVectorizer(min_df = 3, ngram_range=(1,2)).fit(X_train)

In[87]:

 tamanho da vetorizaÃ§Ã£o

In [15]:
len(vect_train.get_feature_names())

C:\Users\josesugahara\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

1173

In[88]:

In [16]:
X_train_vectorized = vect_train.transform(X_train)

In[89]:

In [17]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='liblinear')
model.fit(X_train_vectorized, y_train)

LogisticRegression(solver='liblinear')

In[92]:

Save Predictions

In [18]:
predictions = model.predict(vect_train.transform(df_test['Nome']))
series = pd.Series(predictions)

In[93]:

In [19]:
teste = pd.concat([X_test, series], axis=1)
print(teste)

                                                   Nome        0
0     IOG CORPUS LIGHT CEREAIS FRUTAS     480G Iogurtes  Bandeja
1               IOG CORPUS PEDACO ABACAXI 200G Iogurtes  Garrafa
2            IOG DANONE LIQ 170G VIT DE FRUTAS Iogurtes  Garrafa
3             LTE FERM ACT LIQ JABUTICABA 170G Iogurtes  Garrafa
4              LTE FERM ACT S LAC MOR/BAN 850G Iogurtes  Garrafa
...                                                 ...      ...
1003           ISIS BEBIDA LACTEA MORANGO 120G Iogurtes   SACHET
1004   ISIS BEBIDA LACTEA SALADA DE FRUTAS 1KG Iogurtes  Bandeja
1005       ISIS IOG GARRAFA BANANA E MACA 900G Iogurtes  Garrafa
1006             ISIS IOG GARRAFA MORANGO 900G Iogurtes  Garrafa
1007                      MORANGO BANDEJA 250G Iogurtes  Garrafa

[1008 rows x 2 columns]

In[94]:

In [20]:
teste.to_excel('Resultado.xlsx')

In[46]:

In [ ]:
real = pd.concat([X_test.reset_index(), y_test.reset_index(), series], axis=1)
real[['Nome','SUBCATEGORIA_LIMPA',0]].to_excel('real.xlsx')

In[79]:

In [ ]:
print(df_test)

In[56]:

In[57]:

In [ ]:
print(y_test)

In[76]:

In [ ]:
gabarito = pd.Series(y_test)
teste = pd.DataFrame(predictions)
frames = [gabarito,teste]
results = pd.concat(frames, keys=['gabarito', 'teste'], axis =1)

In[54]:

In [ ]:
X_test_vectorized.to_excel('VETOR.xlsx')

In[ ]: